body {
    font-family: 'Poppins', sans-serif;
    background-color: #C5F8FF;
}

.navbar {
    z-index: 3;
}

/*section*/
.container .title {
    padding-top: 70px;
    text-align: center;
    
}

.title p {
    padding-left: 15px;
}

.img {
    text-align: center;
}

.text {
    text-align: justify;
}

.text h4 {
    text-align: center;
}

/*Footer*/
footer {
    position: absolute;
    width: 100%;
    background: rgb(55, 190, 228);
    color: white;
}

.footer .container p {
    text-align: center;
    margin-top: 15px;
}




/* Desktop version */
@media (min-width: 992px) {
    .nav-link{
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover {
        color: #f6f6f6;
        background-color: #ddd;
    }
    

}

